<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>ADRRESS</th>
        <th>NUMBER</th>
        <th>SALARY</th>
    </tr>

    {% for i in data %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.address }}</td>
        <td>{{ i.number }}</td>
        <td>{{ i.salary }}</td>
        <td><a href="{%  url 'update' i.id %}">update</a></td>
        <td><a href="{%  url 'delete' i.id %}">delete</a></td>
    </tr>
    {% endfor %}
    </thead>
</table>
</body>
</html>